In [2]:
import yfinance as yf
tesla = yf.download("TSLA", start='2015-01-01', end='2020-07-07')

[*********************100%***********************]  1 of 1 completed

In [3]:
tesla.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2014-12-31  44.618000  45.136002  44.450001  44.481998  44.481998  11487500
2015-01-02  44.574001  44.650002  42.652000  43.862000  43.862000  23822000
2015-01-05  42.910000  43.299999  41.431999  42.018002  42.018002  26842500
2015-01-06  42.012001  42.840000  40.841999  42.256001  42.256001  31309500
2015-01-07  42.669998  42.956001  41.956001  42.189999  42.189999  14842000

In [4]:
tesla.to_csv('/Users/KIIT/OneDrive/Desktop/tesla.csv')